/* Tipo de letra*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Barra de navegacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(Fondo.jpg);
}
/* Navbar */
span{
    width: 50px;
    height: 50px;
    animation: luna 2s linear infinite;
    display: flex;
    position: relative;  
    margin-top: 1px;
    margin-left: 10px;  
    border-radius: 50%;
    box-shadow: rgb(86, 21, 148);
}
nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: blueviolet;
    border-radius: 20px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    top: 1px;
    bottom: 10px;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    width: 500px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
}
.Inicio{
    color: aliceblue;
    text-decoration: none;
}
.Inicio:hover{
        color: rgb(0, 0, 105);
        scale: 1.5;
}
.Serivicos{
    color: aliceblue;
    text-decoration: none;
}
.Serivicos:hover{
    color: rgb(0, 0, 105);
    scale: 1.5;
}
.Clientes{
    color: aliceblue;
    text-decoration: none;
}
.Clientes:hover{
    color: rgb(0, 0, 105);
    scale: 1.5;
}
.Contacto{
    color: aliceblue;
    text-decoration: none;
}
.Contacto:hover{
    color: rgb(0, 0, 105);
    scale: 1.5;
}
/* Animacion de Luna */
@keyframes luna {
    0%{
        background-image: url(./Lunas/Luna1.png);
    }
    12.5%{
        background-image: url(./Lunas/Luna2.png);
    }
    25%{
        background-image: url(./Lunas/Luna3o7.png);
    }
    30%{
        background-image: url(./Lunas/luna4o8.png);
    }
        37.5%{background-image: url(./Lunas/Luna5.png);
    }
        50%{background-image: url(./Lunas/Luna6.png);
    }
        62.5%{background-image: url(./Lunas/Luna3o7.png);
    }
        75%{background-image: url(./Lunas/luna4o8.png);
    }
        87%{background-image: url(./Lunas/Luna9.png);
    }
        100%{background-image: url(./Lunas/Luna1.png);
    }
}
.Img {
    width: 45px;
    height: 45px;
    display: block;
    margin-top: 1px;
    margin-left: 10px;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    width: 500px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
}
.Inicio{
    color: aliceblue;
    text-decoration: none;
}
.Inicio:hover{
        color: black;
}
.Serivicos{
    color: aliceblue;
    text-decoration: none;
}
.Serivicos:hover{
    color: rgb(0, 0, 0);
}
.Clientes{
    color: aliceblue;
    text-decoration: none;
}
.Clientes:hover{
    color: rgb(0, 0, 0);
}
.Contacto{
    color: aliceblue;
    text-decoration: none;
}
.Contacto:hover{
    color: rgb(0, 0, 0);
}
main{
    margin: auto;
}
.Saludo {
    background-color: blueviolet;

}

/* Crear usuario */

.FotoUsuario {
width: 100px;
height: 100px;
border-radius: 100%;
}
.Usuario {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 250px;
    border-radius: 20px;
    font-family: 'Bangers', cursive;
    color: azure;
}
.Usuario:hover {
    border:solid 1px white;
    color:rgb(76, 3, 145);
    scale: 1.09;
}
.Saludo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 160px;
    margin-top: 10px;
}
.Preguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    margin-bottom: 10px;
}
input{
    font-family: 'Bangers', cursive;
    color: blueviolet;
}

/* Footer */
.footer__principal {
    background-color: rgb(0, 0, 46);
    color: whitesmoke;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    height: 200px;
    font-family: 'Bangers', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10%;
}



.footer__principal h2 {

    border-top: 10px;
    grid-column: 1/5;
    grid-row: 2;
    
}
.wps {
    grid-row: 4;
}
.face {
    grid-row: 4;
}

.insta {
    grid-row: 4;
}
.mail {
    grid-row: 4;
}

.footer__principal img{
width: 45px;
height: 45px;
}